@model NovusConceptum.Models.TournoisViewModels.TournoisViewModel

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<form asp-action="Create">
    <div class="form-horizontal">
        <h4>TournoisViewModel</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="ID" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="ID" class="form-control" />
                <span asp-validation-for="ID" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Nom" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Nom" class="form-control" />
                <span asp-validation-for="Nom" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Jeu" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Jeu" class="form-control" />
                <span asp-validation-for="Jeu" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Serveur" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Serveur" class="form-control" />
                <span asp-validation-for="Serveur" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <div class="checkbox">
                    <input asp-for="Spectateurs" />
                    <label asp-for="Spectateurs"></label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="FinInscriptions" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="FinInscriptions" class="form-control" />
                <span asp-validation-for="FinInscriptions" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Date" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="NombreEquipe" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="NombreEquipe" class="form-control" />
                <span asp-validation-for="NombreEquipe" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="NombreJoueursEquipe" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="NombreJoueursEquipe" class="form-control" />
                <span asp-validation-for="NombreJoueursEquipe" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="PlacesRestantes" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="PlacesRestantes" class="form-control" />
                <span asp-validation-for="PlacesRestantes" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
